process {
    container = 'philipjonsson/facets-suite:dev'
}
docker.enabled = true
params.assets_bucket = "s3://dperera-orchestration-ch/inputs"
params.input_bucket = 's3://bcazander-orchestration-ch/'
params.output_bucket = "s3://dperera-orchestration-ch/outputs"
params.run_folder_id = "altera-pilot-study-canexia/alignments"
params.output_folder = "altera-pilot-study-canexia_wes"
params.snp_vcf_file = "00-common_all.vcf"
$params.tumour_bam="C035_0211_012545_XX_Whole_T2_K1ID2_A68174"
$params.normal_bam="C035_0211_012545_PB_Whole_C1_K1ID2_A68206"
$params.sample="C035_0211_012545"
