process {
    container = 'philipjonsson/facets-suite:dev'
}
docker.enabled = true
params.assets_bucket = "s3://dperera-orchestration-ch/inputs"
params.input_bucket = 's3://bcazander-orchestration-ch/'
params.output_bucket = "s3://dperera-orchestration-ch/outputs"
params.run_folder_id = "altera-pilot-study-canexia/alignments"
params.output_folder = "altera-pilot-study-canexia_wes"
snp_vcf_file = "00-common_all.vcf"

